html, body{
    font-family: Arial, Franklin Gothic, sans-serif;
    background-color: #eeeeee;
    font-size: 14px;
}

.main-container {
    background-color: #ffffff;
    Margin: 0 auto;
    width: 100%;
    max-width: 45%;
}

.contains {
    padding: 20px;
}

.container {
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 90%;
    height: auto;
    padding: 20px 20px 50px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.header-logo img {
    width: 100%;
    max-width: 650px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.article-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.inner {
    align-items: start;
    display: flex;
}

.inner img {
    max-width: 120px;
    margin-right: 15px;
}

.inner p {
    padding: 5px;
}

.footer {
    margin-top: 30px;
}

.note {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    width: 40%;
}

.footer img {
    width: 100%;
    max-width: 200px;
    height: auto;
    padding-bottom: 20px;

    margin-left: auto;
    margin-right: auto;
    display: block;

    margin-bottom: 20px;
}

.article-footer a {
    text-decoration: none;
    background-color: #0697d4;
    color: #ffffff;
    padding: 10px;
}

.article-footer {
    float: right;
}

@media only screen and (max-width: 780px) {
    .container {
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        width: 90%;
        height: auto;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .inner {
        align-items: start;
        display: inline-block;
    }

    .inner img {
        max-width: 90px;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        display: block;
    }
}

    @media only screen and (max-width: 650px) {
        .container {
            border: 1px solid #eee;
            box-shadow: 0 2px 2px #ccc;
            width: 85%;
            height: auto;
            padding: 20px;
            margin-bottom: 10px;
        }

        .inner {
            align-items: start;
            display: inline-block;
        }

        .inner img {
            max-width: 90px;
            height: auto;
            margin-left: auto;
            margin-right: auto;

            display: block;
        }
    }


    @media only screen and (max-width: 320px) {
        .contains {
            padding: 5px;
        }

        .main-container {
            background-color: #ffffff;
            Margin: 0 auto;
            width: 100%;
            max-width: 100%;
        }

        .container {
            border: 1px solid #eee;
            box-shadow: 0 2px 2px #ccc;
            width: 90%;
            height: auto;
            padding: 10px 10px 30px 10px;
            margin-bottom: 10px;
        }

        .inner {
            align-items: start;
            display: inline-block;
        }

        .inner img {
            max-width: 90px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        .note {
            display: table;
            margin: 0 auto;
            text-align: center;
            font-size: 10px;
            width: 90%;
        }
}