html, body {
    font-family: Arial, Helvetic, sans-serif;
    background-color: #eeeeee;
}

.main-table {
    background-color: #ffffff;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    border: 1px solid #ffffff;
    box-shadow: 0 2px 2px #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.left-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.left-sidebar .left {
    max-width: 125px;
}
.left-sidebar .right {
    max-width: 400px;
}
.left-sidebar .img {
    width: 100%;
    max-width: 80px;
    height: auto;
}
.left-sidebar .contents {
    font-size: 14px;
    text-align: center;
}
.left-sidebar a {
    color: #85ab70;
}

/* Right sidebar layout */
.right-table {
    background-color: red;

    border: 1px solid #1476aa;
    box-shadow: 0 2px 2px #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.right-sidebar {
    text-align: center;
    font-size: 0;
}
.right-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.right-sidebar .left {
    max-width: 225px;
}
.right-sidebar .right {
    max-width: 325px;
}
.right-sidebar .img {
    width: 100%;
    max-width: 80px;
    height: auto;
}
.right-sidebar .contents {
    font-size: 14px;
    text-align: left;
}
.right-sidebar a {

    color: #4599C5;
    text-decoration: none;
}
.right-sidebar a:hover {
    text-decoration: underline;
}

.sidebar-head {
    width: 100%;
    color: #fafafa;
    font-weight: bolder;
    padding-top: 7px;
    padding-bottom: 7px;
}
.sidebar-content {
    height: 150px;
    background-color: #fafafa;
}
.sidebar-instructions{
    padding-left: 3px;
    padding-right: 3px;
}
.sidebar-instructions p{
    font-size: 12px;
    line-height: 15px;
}
.sidebar-list ul li {
    padding-right: 5px;
    padding-bottom: 2px;
    color: #4599C5;
}
.sidebar-list ul li a{
    color: #4599C5;
    font-size: 12px;
}


.main-table-two {
    background-color: #1476aa;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    border: 1px solid #1476aa;
    box-shadow: 0 2px 2px #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.img-header {
    width: 100%;
    max-width: 800px;
    height: auto;
    padding-bottom: 10px;
}

.cat-header {
    color: #fafafa;
    padding: 10px;
    font-weight: bolder;
}
.top-header a {
    color: #fafafa;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    float: right;
    margin-right: 20px;
}
.top-header a:hover {
    text-decoration: underline;
}

/**/
.article {
    background-color: #ffffff;
    padding: 3px;
    border: 1px solid #eeeeee;
    box-shadow: 0 2px 2px #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.header-title {
    color: darkslategray;
    font-weight: bold;
}
.article a {
    text-decoration: none;
}
.article a:hover {
    text-decoration: underline;
}
.article p {
    color: dimgray;
    font-size: 14px;
}
.article img {
    max-width: 90px;
    height: auto;
}



.footer {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}
.footer p {
    width: 80%;
    margin: auto;
    font-size: 10px;
}
.footer img {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 30%;
    text-align: center;
}


@media screen and (min-width: 841px) and (max-width: 1125px) {
    .main-table {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-table-two {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 621px) and (max-width: 840px) {
    .main-table {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-table-two {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 620px) {
    .main-table {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .main-table-two {
        width: 70%;
        margin-left: auto;
        margin-right: auto;

    }

    .article-img {
        margin: auto;
    }

    .main-table-two td {
        display: block;
    }

    .main-table td {
        display: block;
    }
    .article-img-two {
        margin: auto;
    }


}

